body {
  background: url("../images/ignasi_pattern_s.png");
}

.welcome-icon {
  padding-top: 20px;
  font-size: 10em;
}

input {
  font-size: 18px;
  padding: 6px 0 10px 8px;
}

.buttons {
  margin-top: 15px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 6em;
}