body {
  background: url("../images/ignasi_pattern_s.png");
}

.welcome-icon {
  padding-top: 20px;
  font-size: 10em;
}

input {
  font-size: 18px;
  padding: 6px 0 10px 8px;
}

.buttons {
  margin-top: 15px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 6em;
}

.messages {
  font-size: 1.8em;
  margin-top: 10px;
}

.big-message {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 6em;
}

#guessesLeft{
  border: 2px solid black;
  display: inline-block;
  padding: 10px;
  background-color: rgba(91, 192, 222, 0.2);
}

.winspin {
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: -webkit-transform 2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: transform 2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: transform 2s cubic-bezier(0.18, 0.89, 0.32, 1.28), -webkit-transform 2s cubic-bezier(0.18, 0.89, 0.32, 1.28);

}

.go {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@-webkit-keyframes boo {
  0%, 100% {-webkit-transform: translateY(0);transform: translateY(0);}
  50% {-webkit-transform: translateY(20px);transform: translateY(20px);}
}

@keyframes boo {
  0%, 100% {-webkit-transform: translateY(0);transform: translateY(0);}
  50% {-webkit-transform: translateY(20px);transform: translateY(20px);}
}

.glyphicon-thumbs-down {
  -webkit-animation: 2s 2 boo;
          animation: 2s 2 boo;
}
